#mainGrid div{
	height: 90px;
}
div#timer {
    margin: 0 auto;
    width: 96px;
    font-size: 22px;
}
#popup{
	width: 0px;
	height: 0px;
}
.ui-bar-a {
    background: #37383e;
    color: white;
    font-size: 26px;
    text-align: center;
    padding-top: 28px;
}
.ui-bar-a:active {
	background: white;
    color: #37383e;
}
.clicked {
	background: white;
}
div#myPopup-popup {
    position: absolute !important;
    margin: auto;
    padding-left: 40.5%;
    padding-right: 39%;
    width: 220px;
}
